body {
    background-image: url(../images/elvir-k-0y6Y56Pw6DA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background-color: rgba(65, 65, 65, 0.432);
    color: #e9d878;
}

h2,
h3,
h4 {
    color: #e9d878;
}